*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
html::-webkit-scrollbar
{
    background:black;
    width: 10px;
  
}
html::-webkit-scrollbar-thumb
{
    background-color: white;
   
    border-radius: 30px;
    height: 20px;
}
body{
    overflow-x: hidden;
    background-color: #06141b;
}
.page1{
   background: linear-gradient(to right, black);


}
li{
    
    font-size: 20px;
    list-style-type: disc;

    display: inline;
    
}
.tracker
{
    border-radius: 50%;
}

.nav-bar-m li:hover{
    color: gold;
}

  .about
  {
    color: #ccd0cf;
    font-size: 30px;
  }
  .html
  {
    color:#e24921;
  }
  .css
  {
    color:#2964EF
  }
  .tailwind
  {
    color:#3ABCF7
  }
  .react
  {
    color:#18697E
  }
  .js
  {
    color: #F6D602;
  }
  .figma
  {
    color:#A155FD;
  }
  .skill-set ul li{
    transition: transform 0.5s ease, opacity 0.5s ease;
    background-color:#06141b ;
    width: fit-content;
    border-radius: 10px;
    padding: 0px 10px;
  

    
  }
 
.skill-set li:hover{
    cursor: pointer;
    background-color:white;
    
}


#countdown-LC-Weekly-Contest,#countdown-LC-Biweekly-Contest,#countdown-GSOC-2025
{
    color: wheat;
    font-size: 13px;
}
#socials li:hover{
    transform: scale(1.4);
    transition: 1s;
}